@{
    Layout = "_WelcomeLayout";
    var CarrinhoUrl = Url.Action("Carrinho", "Home");
}

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Hamburgueria</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
   <link rel="stylesheet" href="@Url.Content("~/css/cardapio.css")">
</head>
<body>
    <header>
    
    </header>
    
    <div class="container">
    
        <nav class="sidebar">
            <ul>
                <li>
                    
                  @foreach (var category in ViewBag.Categories)
                    {
                        /*
                        string activeClass = category.active ? "active" : "";
                       <a href="/Cardapio/@category.slug" class="category-btn @activeClass">
                            <span class="icon">🍕</span>
                            <span class="label">@category.name</span>
                        </a>
                        */

                        <a href="/cardapio/@category.slug" class="@(category.active ? "active" : "")">
                            @category.name
                        </a>
                    }
                </li>
            </ul>
        </nav>
        
        <main class="content">
        <div class="top-menu-scroll">
           @foreach (var sub in ViewBag.SubCategories)
                {
                    /*
                    string activeClass = subcategory.active ? "active" : "";
                    <a href="/Cardapio/@ViewBag.Category/@subcategory.slug" class="subcategory-btn @activeClass">
                        <span class="label">@subcategory.name</span>
                    </a>
                    */

                    <a href="/cardapio/@ViewBag.Category/@sub.slug" class="@(sub.active ? "active" : "")">
                        @sub.name
                    </a>
                }
        </div>
        
            <div class="produtos">

                  @foreach (var product in ViewBag.Products)
                {
                    <div class="menu-item">
                        <img src="https://fakeimg.pl/60x60/?retina=1&text=%F0%9F%8D%95" alt="@product.name">
                        <div class="options">
                            
                            <h3>@product.name</h3>
                            <p>@product.description</p>

                            <strong>@product.price.ToString("C", System.Globalization.CultureInfo.GetCultureInfo("pt-BR"))</strong>
                        </div>

                        
                    </div>
                }
            </div>

        </main>
    </div>
    
    <footer>
        <div class="footer-info">
            <p>Total de itens: <span id="total-itens">0</span></p>
            <p>Total do pedido: R$ <span id="total-pedido">0</span></p>
        </div>
        <div class="car-cont">
            <span class="car-text">Ver Carrinho</span>
            <button class="btn-car" onclick="redirecionarCarrinho()">
                <i class="fa-solid fa-cart-shopping"></i>
            </button>
        </div>    
        <button class="btn-confirm">Pronto</button>
    </footer>
    

</body>
</html>


