@{
    Layout = "_WelcomeLayout";
}

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagamento pix</title>
    <link rel="stylesheet" href="@Url.Content("~/css/pix.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/fontawesome-free-6.7.2-web/css/all.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/fontawesome-free-6.7.2-web/css/all.min.css")">
    <script src="@Url.Content("~/css/fontawesome-free-6.7.2-web/js/all.js")"></script>
    <script src="@Url.Content("~/css/fontawesome-free-6.7.2-web/js/all.min.js")"></script>
</head>
<body>
    <i class="fa-solid fa-arrow-left fa-2xl"></i>
    <h1>pagamento com pix</h1>
    <p>escaneie o QR code abaixo</p>
    <img src="~/img/tpagamento/qr.png" alt="qr code do pix">
    <p><strong>o QR code expira em 0:00</strong></p>
</body>
</html>